/* button has color  */
.button.color {
    background-color: var(--main-color);
    border-color: var(--main-color);
    color: var(--white-color);
}

/* Focus styles */
.button.color:hover {
  box-shadow:  0px 0px 20px rgba(56, 199, 20, 0.9),
  0 0px 20px rgba(56, 199, 20, 0.2),
  0 0px 30px rgba(56, 199, 20, 0.1);
  transform: scale(1.02);
  color: var(--white-color);
}
.button:hover {
    border-color: var(--main-color);
    color: var(--main-color);
}
  
  /* quick-add-button */
.button.quick-button {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0.75rem 1.5rem;
  transform: translateY(100%);
  opacity: 0;
  transition: all 300ms;
  background-color: orangered;
  color: #fff;
  font-size: 0.875rem; /* text-sm */
  border: none;
  margin: 0 auto;
  margin-bottom: 1rem;
}
.button.quick-button:hover {
  background-color: #ff4500;
}

