.product-card {
    display: inline-block;
    border: 1px solid var(--border-color);
    border-radius: 0.5rem;
    overflow: hidden;
    transition: all 300ms;
}
.img-container {
  position: relative;
  aspect-ratio: 1 / 1;
  overflow: hidden;
}
.img-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 500ms;
}
.product-card:hover img {
  transform: scale(1.1);
}
.img-container .badges {
  position: absolute;
  top: 0.75rem;
  left: 0.75rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.badges span {
  padding: 0.25rem 0.5rem;
  font-size: 0.75rem;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 0.375rem;
  background-color: var(--primary-color);
  color: #fff;
}
.img-container .favorite-btn {
  position: absolute;
  top: 0.75rem;
  right: 0.75rem;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 9999px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 300ms;
  background-color: rgb(207, 176, 176);
  color: #000;
  font-weight: bold;
  font-size: 1.25rem;
  cursor: pointer;
  transition: .3s;
}
.img-container .favorite-btn.favorite {
  background-color: var(--orange-color);
}
.img-container .favorite-btn:hover {
  background-color: var(--orange-color);
  color: #fff;
}
button.quick-button {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0.75rem 1.5rem;
  transform: translateY(100%);
  opacity: 0;
  transition: all 300ms;
  background-color: orangered;
  color: #fff;
  font-size: 0.875rem; /* text-sm */
  border: none;
  margin: 0 auto;
  margin-bottom: 1rem;
}
.product-card:hover .quick-button {
  transform: translateY(0);
  opacity: 1;
}
.img-container .quick-button svg {
  margin-right: 0.5rem;
}

/* info */
.info {
  padding: 0.875rem;
  background-color: #fff;
}
.info .stars-rating {
  display: flex;
  align-items: center;
  gap: 0.25rem;
  margin-bottom: 0.5rem;
}
.info .stars-rating svg {
  width: 1rem;
  height: 1rem;
  fill: var(--orange-color);
}
.info .stars-rating .rating {
  font-size: 0.875rem;
  font-weight: 500;
  color: #333333;
}
.info .product-name {
  font-weight: bold;
  color: var(--color-heading);
  transition: color 300ms;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.product-card:hover {
  border-color: var(--main-color);
  box-shadow: 5px 15px 30px rgba(56, 199, 20, 0.5);
}

.product-card:hover .product-name {
  color: var(--main-color);
}
.info .category {
  font-size: 0.875rem;
  color: #333333;
  text-transform: capitalize;
  margin-top: 0.25rem;
}
.info .price-section {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-top: 0.75rem;
}
.info .price-section .price {
  font-size: 1.125rem;
  font-weight: 700;
  color: var(--main-color);
}
.info .price-section .original-price {
  font-size: 0.875rem;
  color: #888888;
  text-decoration: line-through;
}