.shop-page .hero-section {
  background-color: var(--bg-color);
  padding-top: 5rem;
  padding-bottom: 5rem;
  border-bottom: 1px solid var(--border-color);
}
.shop-page .hero-content {
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}
.shop-page .hero-content h1 {
  font-size: 4rem;
  line-height: 2.5rem;
  text-align: center;
}
.shop-page .hero-content h1 span {
  color: var(--main-color);
}
.shop-page .hero-content p {
  color: var(--p-color);
  text-align: center;
  margin-top: 1rem;
  max-width: 42rem;
  margin-left: auto;
  margin-right: auto;
}

.shop-page .search-filter-bar {
  display: flex;
  /* flex-direction: column; */
  gap: 1rem;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

/* @media (min-width: 768px) {
  .flex-stack {
    flex-direction: row;
  }
} */

.shop-page .input-group {
  position: relative;
  flex: 1;
}
.shop-page .input-group .search-icon {
  position: absolute;
  left: 0.75rem;
  top: 50%;
  transform: translateY(-50%);
  width: 1.25rem;
  height: 1.25rem;
  color: var(--p-color);
}
.shop-page .input-group input {
  width: 100%;
  padding-left: 2.5rem;
  background-color: var(--bg-color);
  border: 1px solid var(--border-color);
  border-radius: 0.375rem;
  height: 2.5rem;
  color: var(--p-color);
}
.shop-page .input-group input:focus {
  border-color: var(--main-color);
  box-shadow: 0 0 0 2px var(--main-color);
}
.shop-page .clear-filters-button {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  padding: 0.5rem 1rem;
  font-weight: bold;
  font-size: 0.875rem;
  background-color: var(--white-color);
  border-radius: 0.5rem;
  text-transform: uppercase;
  cursor: pointer;
  color: var(--heading-color);
  transition: all 0.3s;
}
.shop-page .clear-filters-button svg {
  width: 1rem;
  height: 1rem;
}
.shop-page .clear-filters-button:hover {
  background-color: #f974163f;
  color: var(--orange-color);
}
.shop-page .content-area {
  display: flex;
  gap: 2rem;
}
.shop-page .aside-filters {
  width: 16rem;
  flex-shrink: 0;
  margin-bottom: 2rem;
}

.shop-page .aside-filters .show-filter {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 50;
  background-color: var(--background);
  padding: 1.5rem;
  overflow: auto;
}

.shop-page .aside-header {
  display: none;
}

/* @media (min-width: 768px) {
  .overlay-container {
    position: relative;
    padding: 0;
  }
} */

/* @media (min-width: 768px) {
  .hide-filter {
    display: block;
  }
} */

.shop-page .aside-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  display: none;
}

/* @media (min-width: 768px) {
  .mobile-flex {
    display: none;
  }
} */
.shop-page .categories-area {
    margin-bottom: 2rem;
}
.shop-page .content-area .categories-area h3 ,
.shop-page .content-area .price-ranges h3 {
  font-size: 1.25rem;
  margin-bottom: 1rem;
  font-weight: bold;
}
.shop-page .content-area .categories-area .all-categories {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.shop-page .categories-area .category-button,
.shop-page .price-ranges .price-button {
  width: 100%;
  padding: 0.7rem 1rem;
  border-radius: 0.5rem;
  font-weight: 500;
  font-size: 1rem;
  background-color: transparent;
  transition: color 300ms, background-color 300ms;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
}

.shop-page .categories-area .selected-category ,
.shop-page .price-ranges .selected-price {
    background-color: var(--main-color);
    color: var(--heading-color);
}

.shop-page .categories-area .not-selected-category,
.shop-page .price-ranges .not-selected-price {
  background-color: transparent;
  color: var(--heading-color);
  transition: color 300ms, background-color 300ms;
}

.shop-page .categories-area .not-selected-category:hover ,
.shop-page .price-ranges .not-selected-price:hover {
  background-color: rgba(128, 128, 128, 0.171);
  color: var(--heading-color);
}
.shop-page .categories-area .category-button .category-count {
  font-size: 0.875rem;
  opacity: 0.6;
}
.shop-page .aside-filters .price-ranges {
    font-size: 1.125rem;
  margin-bottom: 1rem;
}

/* products section */
.shop-page .products-grid {
    flex: 1;
}
.shop-page .products-grid .products-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1.25rem;
}
.shop-page .products-grid .products-header p {
    color: var(--p-color);
}
.shop-page .products-grid .products-header p span {
    color: var(--heading-color);
    font-weight: bold;
}

.shop-page .products-grid .products-content {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 1.5rem;
}

/* @media (min-width: 640px) {
  .shop-page .products-grid .products-content  {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1024px) {
  .shop-page .products-grid .products-content  {
    grid-template-columns: repeat(3, 1fr);
  }
} */

.shop-page .products-grid .no-products-content {
    text-align: center;
    margin-top: 6rem;
    margin-bottom: 6rem;
}
.shop-page .products-grid .no-products-content p {
    color: var(--p-color);
    font-size: 1.2rem;
}
.shop-page .products-grid .no-products-content .clear-btn {
  padding: 0.7rem 1rem;
  text-transform: uppercase;
  border-radius: 0.5rem;
  font-weight: 700;
  font-size: 1rem;
  background-color: transparent;
  color: var(--main-color);
  transition: color 300ms, background-color 300ms;
  margin-top: 1rem;
  border: 2px solid var(--main-color);
  cursor: pointer;
}
.shop-page .products-grid .no-products-content .clear-btn:hover {
    background-color: var(--main-color);
    color: var(--white-color);
}


