.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 3.5rem;
    border-bottom: 1px solid var(--border-color);
    position: fixed;
    z-index: 1000;
    /* margin-left: 3.5rem; */
    width: 100%;
    background-color: var(--white-color);
}
.header-container .logo-div {
    display: flex;
    align-items: center;
}
.header-container .logo {
    font-size: 2rem;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
}
.header-container .k {
    margin: 0 5px;
    padding: 12px;
    background-color: var(--main-color);
    color: #fff;
    font-size: 1.5rem;
    border-radius: 5px;
    font-weight: bold;
    line-height: 10px;
}
.header-container .logo span {
    color: var(--main-color);
}
/* ===================
  Nav Links 
====================== */

.header-container .nav-links {
    display: flex;
    align-items: center;
    gap: 30px;
}
.header-container .nav-links li {
    font-size: 1.2rem;
    color: var(--color-heading);
    position: relative;
    transition: color 0.3s;
}
.header-container .nav-links li a {
    padding-bottom: 5px;
    border-bottom: 3px solid transparent;
    transition: border-bottom 0.3s;
}
.header-container .nav-links li:hover a {
    color: var(--main-color);
} 
.header-container .nav-links li.active  a {
    color: var(--main-color);
    border-bottom: 3px solid var(--main-color);
}
.header-container .header-icons {
    display: flex;
    gap: 30px;
}
.header-container .header-icons .icon {
    position: relative;
    cursor: pointer;
}
.header-container .header-icons .icon svg {
    font-size: 30px;
}
.header-container .header-icons .icon .count {
    position: absolute;
    top: -5px;
    right: -10px;
    background: var(--main-color);
    color: var(--white-color);
    font-size: 11px;
    text-align: center;
    line-height: 20px;
    width: 20px;
    height: 20px;
    border-radius: 100%;
}
